body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    grid-column: 1/4;
    background-color: azure;
    color:grey; 
    padding: .5rem .5rem 3rem;
}
nav {
    grid-column: 1/4;
    list-style: none;
    display: flex;
    align-items: center;
    background-color:rgb(13, 82, 4);
}
a {
    display: block;
    color:rgb(116, 118, 204);
    flex: 1 1 auto;
    text-decoration: none;
    text-align: center;
    padding:1rem;
}
main {
    grid-column: 1/3;
    background-color: rgb(59, 42, 209);
    color: antiquewhite;
    padding: .5rem .5rem 50%;
}
h1 {
    color:rgb(35, 143, 84);
}
aside {
    grid-column: 3/4;
    background-color: lightgrey;
    padding:.5rem .5rem 50%;
}
footer {
    grid-column: 1/4;
    background-color: lavender;
    color:rgb(46, 66, 85);
    text-align: center;
    padding-bottom: 15%;
    padding-top: .5rem;
}