/* this will be the large view */

@media screen and (min-width: 1000px)
{
    /*Global Variables*/
    :root {
        --primaryFont: "Poppins", sans-serif;
        --primaryFontWeight: 400;
        --primaryFontStyle: normal;
    
        --primaryColor: #00c3ff;
        --secondaryColor: #00c3ff;
        --thirdColor: #fffb00;
        --forthColor: #D4EAC8;
        --fithColor: #61ff90;
    
        --normalPadding: 1rem;
    }

    main {
        display: grid;
        grid-template-columns: auto auto 300px;
        grid-template-rows: auto auto;
    }

    
    /*Grid layout*/

    .hero {
        grid-area: 1/1/3/4;
    }
    .data {
        grid-area: 1/1/2/2;
        width: auto;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 20px;
        padding: 10px;
    }

    .data h2 {
        background-color: rgb(240, 252, 69);
        text-align: left;
        font-style: normal;
        margin-left: -25px;
    }

    .weather {
        grid-area: 2/3/3/4;
        width: auto;
        background-color:  rgba(255, 255, 255, 0.8);
        margin: 20px;
        padding: 10px;
    }

    .weather h2 {
        background-color: rgb(240, 252, 69);
        text-align: left;
        font-style: normal;
        margin-left: -25px;
    }
    
    .weather h2::after{
        content: "⛅";
    }

    /*Hidding the svg image*/
    #svgimage {
        display: none;
    }

    footer {
        max-width: 100%;
        color: black;
    }











}